/* src/styles/Header.css */

/* Aumenta a altura do header */
.navbar {
  height: 70px; /* Aumente conforme necessário */
  font-size: 1.2rem; /* Aumenta o tamanho do texto */
}

/* Aumenta o tamanho da marca/Brand */
.navbar-brand {
  font-size: 1.3rem; /* Ajuste o tamanho do texto da marca */
  font-weight: bold; /* Torna o texto da marca mais robusto */
}

/* Aumenta o tamanho dos links de navegação */
.nav-link {
  font-size: 1.0rem; /* Aumenta o tamanho do texto nos links */
}

/* Ajusta o tamanho do dropdown */
.navbar-nav .nav-item .dropdown-menu {
  font-size: 1.1rem; /* Aumenta o tamanho do texto do dropdown */
}

/* Define o fundo escuro do dropdown */
.dropdown-menu {
  background-color: #343a40; /* Define um fundo escuro para o dropdown */
  color: white; /* Torna o texto branco */
  border: none; /* Remove borda */
}

/* Estilo para os itens do dropdown */
.dropdown-item {
  color: white !important; /* Força a cor branca para os itens do dropdown */
}

/* Mantém a cor branca ao passar o mouse */
.dropdown-item:hover {
  background-color: rgba(0, 212, 255, 1); /* Cor de fundo no hover */
  color: white !important; /* Garante que a cor branca permaneça no hover */
}
