/* src/styles/Header.css */

/* Aumenta a altura do header */
.navbar {
  height: 70px; /* Aumente conforme necessário */
  font-size: 1.2rem; /* Aumenta o tamanho do texto */
}

/* Aumenta o tamanho da marca/Brand */
.navbar-brand {
  font-size: 1.3rem; /* Ajuste o tamanho do texto da marca */
  font-weight: bold; /* Torna o texto da marca mais robusto */
}

/* Aumenta o tamanho dos links de navegação */
.nav-link {
  font-size: 01.0rem; /* Aumenta o tamanho do texto nos links */
}

/* Ajusta o tamanho do dropdown */
.navbar-nav .nav-item .dropdown-menu {
  font-size: 1.1rem; /* Aumenta o tamanho do texto do dropdown */
}

/* src/styles/Header.css */

/* Estilo para os itens do dropdown */
.dropdown-menu .dropdown-item {
  color: black !important; /* Força a cor preta para os itens do dropdown */
}

/* Mantém a cor preta ao passar o mouse */
.dropdown-menu .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Adiciona um leve efeito ao passar o mouse */
  color: black !important; /* Garante que a cor preta permaneça no hover */
}
