/* src/styles.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-image: url('../components/Imagens/mulherMedia.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  /* src/styles/Header.css */

/* Define a cor de fundo da barra de navegação */
.navbar {
  background-color: rgb(39, 151, 246) !important;
}

/* Define a cor do texto dos links como branco */
.navbar .nav-link,
.navbar .navbar-brand,
.navbar .nav-dropdown,
.navbar .dropdown-item {
  color: #fff !important;
}

/* Para garantir que os links fiquem brancos ao passar o mouse */
.navbar .nav-link:hover,
.navbar .navbar-brand:hover,
.navbar .dropdown-item:hover {
  color: #ddd !important; /* Um branco um pouco mais suave ao passar o mouse */
}

/* src/styles/Home.css */

/* Centraliza o carrossel vertical e horizontalmente */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa 100% da altura da viewport */
}

/* Define o tamanho do carrossel */
.custom-carousel {
  width: 800px;  /* Ajuste conforme necessário */
  height: 500px; /* Ajuste conforme necessário */
  margin: 0 auto;
}

.custom-carousel img {
  object-fit: cover; /* Assegura que a imagem se ajuste sem distorção */
  width: 100%;
  height: 100%;
}

